@import url(/assets/palete.css);

:root{
    --animation-timing:1s;
}

html, body{
    width: 100%;
    min-height: 100%;
    font-size: 1vw;
    font-weight: 400;
    font-family: 'Cantarell', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section>*{
    position: absolute;
}

section>.float-container{
    height: 100vh;
    z-index: 0;

    overflow: hidden;
    width: 75vw;
    right: 0;
}

section>.overlay{
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.row{
    display: flex;
    flex-direction: row;
}

.justify{
    display: flex;
    justify-content: space-between;
}

.row .button{
    flex: 1 0 auto;
}

.row.gap-5{
    gap: 5px;
}

.button{
    padding: .6ex 2rem;
    text-align: justify;
    border: .5ex var(--color-black) solid;
    border-radius: 3.2ex;
    color:var(--color-black);
    background: var(--light-halo-2);
    font-size: 1.5rem;
    text-align: center;
}

.button i.fa-solid,
.button i.fa-brands{
    display: inline-block;
    position: relative;
    font-size: 2rem;
    margin-top: -.6ex;
    top: .2ex;
}

a.button{
    text-decoration: none;
}

.button.primary{
    font-weight: bold;
    color: var(--color-white);
    background: var(--color-black);
}

section.sect-1{
    background-color: #242424;
}

section.sect-1>.overlay>.row{
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

section.sect-1>.overlay>.row .right,
section.sect-1>.overlay>.row .left{
    width: 25%;
}
section.sect-1 .fancy{
    font-family: 'Tilt Warp', cursive;
    font-size: 2.5rem;
    font-weight: 400;
}

.line.larger{
    font-size: 3.5rem;
}

.overlay--path{
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    width: 75%;
    height: 100vh;
}

.header-buttons{
    margin-top: 20px;
}

.fancy{
    cursor: default;
}

.fancy .line{
    display: flex;
    justify-content: space-between;
    transition: margin .5s;
}

.fancy .line:hover{
    margin: 20px 0;
}



.fancy>.line .letter,
.fancy>.line .inner {
    display: inline-block;
    transition: .5s;
}

.fancy .line:hover .inner{
    animation: float 2s ease-in-out alternate-reverse infinite ;
}
.fancy>.line:hover .letter:nth-child(1) {
    transform: rotate(10deg) translate(-30%, -40%)
}

.fancy>.line:hover .letter:nth-child(2) {
    transform: rotate(-5deg) translate(-30%, 20%)
}

.fancy>.line:hover .letter:nth-child(3) {
    transform: rotate(-8deg) translate(-20%, -5%)
}

.fancy>.line:hover .letter:nth-child(4) {
    transform: rotate(12deg) translate(-0%, -25%)
}

.fancy>.line:hover .letter:nth-child(5) {
    transform: rotate(-3deg) translate(10%, 20%)
}

.fancy>.line:hover .letter:nth-child(6) {
    transform: rotate(-13deg) translate(10%, -30%)
}

.fancy>.line:hover .letter:nth-child(7) {
    transform: rotate(15deg) translate(-20%, -20%)
}

.fancy>.line:hover .letter:nth-child(8) {
    transform: rotate(-7deg) translate(-20%, 20%)
}

.fancy>.line:hover .letter:nth-child(9) {
    transform: rotate(-17deg) translate(10%, -30%)
}
@keyframes float {
    to{ transform: translateY(10%);}
}

.float-object{
    position: absolute;
    display: block;
    transition: all var(--animation-timing) linear;
    color: var(--color-white);
    font-weight: bold;
    font-size: 2rem;
}

.float-object .inner{
    opacity:0;
    animation:fadeIn var(--animation-timing) var(--animation-timing) forwards;
}

@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: .2;}
}